.buildpath
.project
.settings

# ignore generated html files,
*.html

*.DS_Store
raw/*


# exclude everything except directory application
*.[oa]
*.zip
*.txt
*.sql
*~
*
!Includefiles/
!img/
!fonts/
!js/
!css/
!*.php
Includefiles/conn.inc
