.buildpath
.project
.settings

# ignore generated html files,
*.html

*.DS_Store
raw/*
Includefiles/conn.inc

# exclude everything except directory application
*.[oa]
*.zip
*.txt
*.sql
*~
*
!img/
!fonts/
!js/
!css/
!*.php

